.checkout-btn {
  background-color: #0d9488;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.total {
  color: #0d9488;
}
.checkout-btn:hover {
  background-color: #115e59;
}
